<%= render partial: 'layouts/research_sessions_menu' %>
<%= search_form_for @s, class:'form-group' do |f| %>
  <%= f.label "Search" %>
  <%= f.search_field :omni_search_cont, class:'form-control', value: params.dig(:q,:omni_search) %>
    <%= f.label "Tags" %>
    <%= f.text_field :ransack_tagged_with,
                              class: 'tokenfield form-control input-medium span4',
                              data: { search_url: '/taggings/search?type=ResearchSession&q=%QUERY',
                                      submit_id: 'tag-field',
                                      id: 'tag-field',
                                      submit_on_tag: true,
                                      pre_populate: @tags
                                    }
                            %>
  <%= f.submit 'Search', class: 'btn btn-sm btn-primary mt-2' %>
  <%= link_to "Clear", research_sessions_path, class: 'btn btn-sm btn-dark mt-2' %>
<% end %>
<div class="row">
  <div class="span12" style="text-align:center">
    <%= will_paginate @research_sessions, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h4>List of Sessions</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Complete?</th>
          <th><%= sort_link(@q, :title) %></th>
          <th><%= sort_link(@q, :description) %></th>
          <th><%= sort_link(@q, :location) %></th>
          <th><%= sort_link(@q, :start_datetime)%></th>
          <th><%= sort_link(@q, :duration) %></th>
          <th><%= sort_link(@q, :created_by) %></th>
          <th>I | A | R<%= content_tag :span,'?',class: 'badge badge-dark', data:{
          toggle: "popover", 
          placement: "top", 
          content: "Invited | Attended | Rewarded",
          title: 'popover',
          original_title:"Data"} %></th>
          <th>Total $</th>
        </tr>
      </thead>

      <tbody>
        <!-- turn into a partial, both for actioncable and for hotwire/turbo -->
        <%= render partial: 'record', collection: @research_sessions, as: :sesh %>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="span12" style="text-align:center">
    <%= will_paginate @research_sessions, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <p><%= link_to 'New Session', new_research_session_path %></p>
  </div>
</div>
