<%= render partial: 'layouts/admin_menu' %>

<h1>Budgets</h1>
<div class='row'>
  <dl class='card card-body bg-light'>
    <% if current_user.admin? %>
      <dt>Money in GiftRocket Account:</dt>
      <dd> <%= @current_giftrocket_budget %></dd>
      <dt>Money left All Budgets:</dt>
      <dd id='all_budget'> <%= humanized_money_with_symbol Budget.all.sum(&:amount) %></dd>
      
      <% if DigitalGift.current_budget && DigitalGift.current_budget > Budget.all.sum(&:amount).to_money %>
        <h5>Add/Subtract to Patterns Digital Gift Budget<h5>
        
        <dt>Top Up</dt>
        <dd><%= form_tag("/budgets/transaction/create", method: 'post', remote: true, class:"form-group" ) do %>
          <% top_up = DigitalGift.current_budget - Budget.all.sum(&:amount) %>
          <%= label_tag(:top_up, 'Amount') %>
          <%= text_field_tag(:amount, top_up.to_s ,{ id:'topup-amount', class:'form-control'}) %>
          <%= hidden_field_tag(:transaction_type, 'Topup') %>
          <%= submit_tag("Top Up", class:'btn btn-primary mt-2') %>
        <% end %></dd>
      <% end %>
      <dt>Transfer</dt>
      <dd><%= form_tag("/budgets/transaction/create", method: 'post', remote: true, class:'form-group') do %>

        <%= label_tag(:top_up, 'Amount') %>
        <%= text_field_tag(:amount,0, id:'transfer-amount', class:'form-control') %>
        <%= label_tag(:from,'From') %>
        <%= select_tag(:from_id, options_from_collection_for_select(Budget.includes(:team).all, :id, :name),class:'form-control') %>
        <%= label_tag(:from,'Recipient') %>
        <%= select_tag(:recipient_id, options_from_collection_for_select(Budget.includes(:team).all, :id, :name),class:'form-control') %>
        <%= hidden_field_tag(:transaction_type, 'Transfer') %>
        <%= submit_tag("Transfer",class:'btn btn-primary mt-2') %>
      <% end %></dd>
      <% end %>
  </dl>
</div>
<div class='row'>
  <table class='table table-striped col-12'>
    <thead>
      <tr>
        <th colspan="1">Budget ID</th>
        <th colspan="1">Team</th>
        <th colspan="2">Amount</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @budgets.each do |budget| %>
        <tr>
          <td><%= link_to budget.id, budget %></td>
          <td><%= link_to budget.team.name, budget.team %></td>
          <td id='budget_amount_<%= budget.id %>'><%= humanized_money_with_symbol budget.amount %></td>
          <td><%= link_to 'Show', budget %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
